    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="https://cuppalabs.github.io">
          <img alt="Brand" src="assets/img/cuppa-logo-coffee11.png">
          </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
           <ul class="nav navbar-nav navbar-left">
              <li><label class="component-title">Angular 2 Data Grid</label></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="https://cuppalabs.github.io/components/datatable/">Getting Started</a></li>
              <li><a href="https://cuppalabs.github.io/components/datatable/">Documentation</a></li>
              <li><a href="https://github.com/CuppaLabs/angular2-dataGrid">Github</a></li>

            </ul>
        </div>
      </div>
    </nav>
    <div class="col-md-2 left-menu">
      <div class="list-group">
        <a href="#" class="list-group-item disabled">
          Examples
        </a>
        <a [routerLink]="['basicexample']" routerLinkActive="active" href="#" class="list-group-item">Basic Example</a>
        <a [routerLink]="['sorting']" routerLinkActive="active" href="#" class="list-group-item">Sorting</a>
        <a [routerLink]="['columntemplate']" routerLinkActive="active" href="#" class="list-group-item">Column Template</a>
         <a [routerLink]="['headingtemplate']" routerLinkActive="active" href="#" class="list-group-item">Heading Template</a>
      </div>
    </div>
    <div class="col-md-10 example-content">
    <!--<h1 style="text-align: center;padding: 20px 0px 0px 0px;">Angular 2 Data Grid Example</h1>
    <h3 style="text-align: center;padding: 0px 0px 10px 0px;">Render 10,000+ records with high performance</h3> -->
    <router-outlet></router-outlet>
    </div>