<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Angular 2 Data Grid | Render 10000 + records | Handle Large Datasets</title>
  <meta content='Angular2 data grid, angular2 grid, ng2-grid, angular2 datatable, datatable large datasets' name='keywords'/>
  <meta name="description" content="Cuppa Angular 2 data Grid is an angular 2 component for handling large data sets. Pagination on scroll."/>
<meta property="og:description" content="Cuppa Angular 2 data Grid is an angular 2 component for handling large data sets. Pagination on scroll." />
<meta property="og:url" content="https://cuppalabs.github.io/angular2-dataGrid/" />
<meta property="og:site_name" content="Cuppa Labs" />
<meta property="article:publisher" content="https://www.facebook.com/cuppalabs/" />
<meta property="article:author" content="https://www.facebook.com/pradeepkumar.terli" />
<meta property="article:tag" content="Angular 2" />
<meta property="article:tag" content="angular 2 data grid" />
<meta property="article:tag" content="datagrid" />
<meta property="article:tag" content="html5" />
<meta property="article:tag" content="css3" />
<meta property="og:image" content="https://cuppalabs.github.io/angular-cuppa-datepicker/images/angular-datepicker.png" />

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <% if (webpackConfig.htmlElements.headTags) { %>
  <!-- Configured Head Tags  -->
  <%= webpackConfig.htmlElements.headTags %>
  <% } %>

  <!-- base url -->
  <base href="<%= htmlWebpackPlugin.options.metadata.baseUrl %>">


</head>

<body>
  <div class="col-md-10">
    <app>
    Loading...
    </app>
  </div>
  <div class="col-md-2">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- datagrid-ads -->
      <ins class="adsbygoogle"
          style="display:block"
          data-ad-client="ca-pub-4525567075133342"
          data-ad-slot="2640021500"
          data-ad-format="auto"></ins>
      <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
  </div>
  <!-- Google Analytics: change UA-71073175-1 to be your site's ID -->
  <script>
    (function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=r;A[l]=A[l]||function(){
    (A[l].q=A[l].q||[]).push(arguments)},A[l].l=1*new Date();a=n.createElement(g),
    r=n.getElementsByTagName(g)[0];a.async=1;a.src=u;r.parentNode.insertBefore(a,r)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', '', 'auto');
    ga('send', 'pageview');
  </script>

  <% if (htmlWebpackPlugin.options.metadata.isDevServer && htmlWebpackPlugin.options.metadata.HMR !== true) { %>
  <!-- Webpack Dev Server reload -->
  <script src="/webpack-dev-server.js"></script>
  <% } %>


</body>
</html>
